@model LessonModel

<div class="row">
    <div class="col-md-6">
        <h3 class="h1">Notlar</h3>
        @if (Model.Notes.Count() > 0)
        {
            <div class="list-group list-group-flush">
                @foreach (var note in Model.Notes)
                {
                    @await Html.PartialAsync("_note", note)
                }
                <a href="/lesson/notecreate" class="list-group-item list-group-item-action list-group-item-info mb-1">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Paylaşım yapmak için tıklayın.</h5>
                    </div>
                </a>
            </div>
        }
        else
        {
            <div class="alert alert-warning">
                <h3>Henüz not paylaşılmamış.</h3>
            </div>
            <div class="list-group list-group-flush">
                <a href="/lesson/notecreate" class="list-group-item list-group-item-action list-group-item-info mb-1">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Paylaşım yapmak için tıklayın.</h5>
                        </div>
                </a>
            </div>
        }
    </div>
</div>