<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center clocktower">
            <img src="~/images/nnyicon.png" style="width: 200px; height: 170px;" alt="">
            <hr>
            <h1 class="display-4 font-weight-bold">Nuh Naci Yazgan Üniversitesi</h1>
        </div>
    </div>
</header>