
<div class="card border-secondary mt-3">
    <div class="card-header bg-secondary">
        <h5 class="text-white">Arama</h5>
    </div>
    <div class="card-body">
        <form action="/search">
            <div class="form-group">
                <input name="q" type="text" class="form-control" placeholder="Kitap adı giriniz...">
            </div>
            <button type="submit" class="btn btn-secondary btn-sm btn-block mt-2">Ara</button>
        </form>
    </div>
</div>
